<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>112071194757-eqbcpa7cc8b42340am5gq9e4ak3e6hjr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.112071194757-eqbcpa7cc8b42340am5gq9e4ak3e6hjr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>112071194757-15sbkvdn9phla2lvhnftcd8vpfbb11qp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC-QxvQwXmX19iDrOVKmOEYVsAC4UQcpjw</string>
	<key>GCM_SENDER_ID</key>
	<string>112071194757</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gerenciamentoUesb.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>gerenciamento-sala-uesb</string>
	<key>STORAGE_BUCKET</key>
	<string>gerenciamento-sala-uesb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:112071194757:ios:e14a58e172233d905391ec</string>
</dict>
</plist>